* {
  font-family: arial, sans-serif;
}


.icon {
  text-align: center;
}

.search {
  text-align: center;
}

/* Below is so that the actual input of search field is adjusted
to 50% width. This makes the entire search box only 50% */

.search input {
  width: 50%;
}

.submit {
  display: inline;
  text-align: center;
}

.submit input {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #757575;
  border-style: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 10px;
}

.submit input:hover {
  background-color: #f8f8f8;
  border-style: solid;
  border-color: #c6c6c6;
  border-width: 1px;
  border-radius: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  width: 100%;
}

li {
  float: left;
}

li a{
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 12px;
  font-family: arial, sans-serif;
}

li:hover {
  background-color: #111111;
  font-weight: bold;
}

/* future functionality below - This will make a red bar appear
for whatever of the toolbar links is 'active' i.e. if you're on
the Google images tab the images link would have a red bar at
the top */
.active {
  border-top-color: red;
  border-style: solid;
  border-width: 2px 0 0 0;
}
